.header {
    width: 100%;
    height: 1150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imgs/bg.webp);
}

.header .header__bg {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.49);
    height: 1150px;
}

.nav {
    padding: 75px 0;
}

.nav .nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.nav .nav__list .nav__item {
    display: flex;
    align-items: center;
}

.nav__item .logo {
    display: flex;
    align-items: center;
}

.logo .img img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.logo .info {
    margin-left: 20px;
}

.nav .info h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
    font-style: normal;
}

.nav .info p {
    color: rgba(234, 234, 234, 1);
    font-size: 16px;
    text-align: left;
    text-align-last: left;
    font-weight: 400;
    line-height: 142%;
    font-style: normal;
}

.location {
    display: flex;
    align-items: center;
    margin-right: 45px;
}

.location .img {
    width: 48px;
    height: 48px;
    background: rgb(255, 195, 0);
    border-radius: 50%;
}

.location .img i {
    font-size: 25px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
}

.location .info {
    margin-left: 10px;
}

.location .info p {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-align: left;
    text-align-last: left;
    font-weight: 400;
    line-height: 150%;
    font-style: normal;
}

.phone__number {
    display: flex;
    align-items: center;
}

.phone__number .img {
    width: 48px;
    height: 48px;
    background: rgb(255, 195, 0);
    border-radius: 50%;
}

.phone__number .img i {
    font-size: 25px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
}

.phone__number .info {
    margin-left: 10px;
}

.phone__number .info span {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 800;
    line-height: 125%;
    font-style: normal;
    margin-bottom: 3px;
}

.phone__number .info p {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-align: left;
    text-align-last: left;
    font-weight: 400;
    line-height: 150%;
    font-style: normal;
}

.hero {
    width: 850px;
    margin: 0 auto;
}

.hero h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    text-align: center;
    font-weight: 900;
    line-height: 150%;
    font-style: normal;
    margin-top: 120px;
}

.hero p {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: center;
    text-align-last: center;
    font-weight: 400;
    text-decoration: none;
    line-height: 160%;
    margin-top: 20px;
}

.hero__inner {
    margin-top: 80px;
    margin-bottom: 63px;
    padding: 32px 30px;
    width: 1152px;
    height: 396px;
    background-attachment: scroll;
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
    background: linear-gradient(0deg, rgba(0, 118, 195, 1), rgba(0, 188, 194, 1));
}

.hero__inner h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    line-height: 150%;
    font-style: normal;
}

.hero__inner .input__group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.input__group .name {
    display: flex;
    flex-direction: column;
}

.input__group .name span {
    padding-bottom: 8px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
}

.input__group .name input {
    border-radius: 200px;
    border-color: rgba(58, 71, 92, 1);
    border-style: solid;
    border-width: 0px;
    padding: 20px 22px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    font-style: normal;
    width: 350px;
}

.input__group .phone__number {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.input__group .phone__number span {
    padding-bottom: 8px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
}

.input__group .phone__number input {
    border-radius: 200px;
    border-color: rgba(58, 71, 92, 1);
    border-style: solid;
    border-width: 0px;
    padding: 20px 22px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    font-style: normal;
    width: 350px;
}

.hero__inner button {
    padding: 22px;
    border-radius: 200px;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 0px;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    background: rgba(255, 195, 0, 1);
    background: linear-gradient(0deg, rgba(255, 195, 0, 1), rgba(255, 230, 0, 1));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255,195,0,1)', endColorstr='rgba(255,230,0,1)', GradientType=0);
    background-attachment: scroll;
    background-position: 0% 0%;
    width: 357px;
    cursor: pointer;
    display: block;
    margin: 30px auto 0 auto;
}

.hero__inner button:hover {
    border-color: rgb(255, 255, 255);
    color: rgb(20, 20, 20);
    background: rgb(255, 215, 20);
    background: linear-gradient(0deg, rgb(255, 215, 20), rgb(255, 250, 20));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(255, 215, 20)', endColorstr='rgb(255, 250, 20)', GradientType=0);
}

.hero__inner .box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header {
        width: 100%;
        height: 1040px;
    }

    .header__bg {
        height: 1040px;
    }

    .nav {
        padding: 55px 0;
    }

    .nav__item .logo .info {
        margin-left: 10px;
    }

    .nav__item .logo .info h2 {
        font-size: 30px;
    }

    .hero h2 {
        font-size: 44px;
        line-height: 160%;
        margin-top: 80px;
    }

    .hero p {
        color: rgba(255, 255, 255, 1);
        font-size: 20px;
        text-align: center;
        text-align-last: center;
        font-weight: 400;
        text-decoration: none;
        line-height: 150%;
    }

    .hero__inner {
        margin: 90px auto 0 auto;
        margin-bottom: 63px;
        padding: 32px 30px;
        width: 915px;
        height: 396px;
    }

    .hero__inner .input__group {
        margin-top: 30px;
    }

    .input__group .name input {
        width: 270px;
    }

    .input__group .phone__number span {
        padding-bottom: 8px;
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
    }

    .input__group .phone__number input {
        width: 270px;
    }

    .hero__inner button {
        width: 280px;
        margin-top: 40px;
    }
}

@media (min-width: 429px) and (max-width: 768px) {
    .header {
        height: 1030px;
    }

    .header__bg {
        height: 1030px;
    }

    .nav {
        padding: 45px 0;
    }

    .nav__item .logo .info {
        margin-left: 15px;
    }

    .nav__item .logo .info h2 {
        font-size: 27px;
        font-weight: 600;
    }

    .nav__item .logo .info p {
        font-size: 14px;
        font-weight: 400;
    }

    .nav__item .location {
        display: none;
    }

    .hero {
        width: 530px;
        margin: 0 auto;
    }

    .hero h2 {
        font-size: 32px;
        line-height: 140%;
        margin-top: 85px;
    }

    .hero p {
        font-size: 16px;
        font-weight: 300;
        line-height: 140%;
    }

    .hero__inner {
        margin: 70px auto 63px auto;
        max-width: 600px;
        height: 490px;
    }

    .hero__inner h2 {
        font-size: 24px;
    }

    .hero__inner .input__group {
        flex-direction: column;
        margin-top: 30px;
    }

    .hero__inner .input__group .name {
        display: flex;
        flex-direction: column;
    }

    .hero__inner .input__group .name input {
        width: 516px;
    }

    .hero__inner .input__group .phone__number {
        margin-top: 20px;
    }

    .hero__inner .input__group .phone__number input {
        width: 516px;
    }

    .hero__inner button {
        width: 516px;
        margin: 60px auto 0 auto;
    }

    .hero__inner .box {
        margin-top: 30px;
    }
}

@media (min-width: 0) and (max-width: 428px) {
    .header {
        height: 1030px;
    }

    .header__bg {
        height: 1030px;
    }

    .nav {
        padding: 40px 0;
    }

    .nav__item .logo .info {
        display: none;
    }

    .location {
        display: none;
    }

    .phone__number {
        margin-right: 0;
    }

    .phone__number .img {
        display: none;
    }

    .phone__number .info {
        margin-left: 0;
    }

    .phone__number .info span {
        font-size: 16px;
    }

    .hero {
        width: 90%;
        margin: 0 auto;
    }

    .hero h2 {
        font-size: 24px;
        line-height: 130%;
        margin-top: 40px;
    }

    .hero p {
        font-size: 16px;
        line-height: 130%;
        margin-top: 10px;
    }

    .hero__inner {
        margin-top: 60px;
        width: 100%;
        height: 100%;
    }

    .hero__inner h2 {
        font-size: 24px;
        line-height: 130%;
        width: 100%;
        margin: 0 auto;
    }

    .input__group {
        flex-direction: column;
        margin-top: 20px;
    }

    .input__group .name input {
        width: 100%;
    }

    .input__group .phone__number {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .input__group .phone__number input {
        width: 100%;
    }

    .hero__inner button {
        width: 100%;
    }

    .box { 
        margin-top: 30px;
    }

    .box input {
        width: 26px;
        height: 26px;
    }

    .box p {
        margin-left: 30px;
    }

    .box p a {
        display: block;
        text-align: center;
    }
}